binary "https://ssl.scandit.com/sdk/download/carthage/ScanditCaptureCore.json"
binary "https://ssl.scandit.com/sdk/download/carthage/ScanditBarcodeCapture.json"
binary "https://ssl.scandit.com/sdk/download/carthage/ScanditParser.json"
binary "https://ssl.scandit.com/sdk/download/carthage/ScanditOCR.json"
binary "https://ssl.scandit.com/sdk/download/carthage/ScanditTextCapture.json"
binary "https://ssl.scandit.com/sdk/download/carthage/ScanditIdCapture.json"